# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# CMake stuff
*CMakeCache.txt
CMakeFiles/
*cmake_install.cmake
Makefile
.metadata/
RemoteSystemsTempFiles/
*.dir/
CPack*
_CPack_Packages/
CTestTestfile.cmake
Testing/
install_manifest_Runtime.txt
*.deb
*.rpm

# Visual Studio
Debug/
Release/
Win32/
*.dir/
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.dll
*.psess
*.vcxproj
*.vcxproj.filters
*.vspx
*.sln
*.ilk
*.pdb
